@import "variables";

.container__page {
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    padding: 1rem 5rem;
    @include phone {
      display: none;
    }

    .footer_container {
      color: $--clr-beige;
      @include flex-align;
      @include small-tablet {
        flex-direction: column;
      }

      .footer_container_copyright {
        flex: auto;
        text-align: center;

        .footer_copyright {
          font-size: 1rem;
          margin: 0;
        }
      }

      .footer_container_socials {
        font-size: 1.5rem;
        flex: 4;
        text-align: center;

        i {
          & + i {
            margin-left: 1rem;
          }
        }
      }

      .footer_container_terms {
        flex: auto;

        ul {
          @include flex-align;
          justify-content: center;
          gap: 2rem;

          a {
            color: $--clr-beige;
          }
        }
      }
    }
  }
}
