@import "variables";

@keyframes slidein {
  0% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(165%, 0%);
  }
}

main {
  height: 100%;
  display: flex;
  @include not-desktop {
    flex-direction: column;
  }

  .container__page {
    min-width: 100%;
    min-height: 100vh;
    height: 100%;
    @include flex-align();
    padding: 10rem;
    &:nth-child(1) {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
        url("../assets/bg4.webp") no-repeat top/cover;

      .page1_container {
        width: 100%;

        .page1_button_menu {
          background: linear-gradient($--clr-springgreen, $--clr-shamrockgreen);
          @include button-homepage();
        }

        .page1_button_best {
          background-color: $--clr-bistre;
          @include button-homepage();
          margin-left: 1rem;
          border: 2px solid $--clr-beige;
        }

        h1 {
          font-size: 7rem;
          color: $--clr-beige;
          letter-spacing: 0.2rem;
          font-weight: 900;
        }

        hr {
          width: 45%;
        }

        h2 {
          font-size: 3rem;
          color: $--clr-beige;
          letter-spacing: 0.2rem;
          font-weight: 900;
          margin-top: 2rem;
        }

        p {
          font-size: 1.5rem;
          color: $--clr-beige;
          margin-top: 2rem;
        }
      }
    }
    &:nth-child(2) {
      position: relative;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
        url("../assets/bg3.webp") no-repeat top/cover;
      @include flex-row-center();

      .page2_container {
        height: 100%;
        width: 100%;
        @include flex-row-center;

        img {
          width: auto;
          height: 30rem;
        }

        .page2_container_rightside {
          width: 50%;
          color: $--clr-beige;
          margin-left: 2rem;

          h3 {
            font-size: 5rem;
            margin-bottom: 1rem;
          }

          hr {
            width: 100%;
          }

          ul {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: 1.3rem;
            gap: 1rem;
            margin-top: 1rem;
          }

          p {
            font-size: 1.2rem;
            line-height: 2rem;
            margin-top: 2rem;
          }

          .button_addToCart {
            @include button-add;
            background-color: $--clr-poppy;
          }
        }
      }

      .pepper_img {
        position: absolute;
        height: auto;
        &:nth-child(2) {
          // border: 2px solid green;
          width: 6rem;
          top: 25%;
          left: 38%;
          transform: rotate(165deg);
          filter: blur(2px);
        }
        &:nth-child(3) {
          // border: 2px solid yellow;
          width: 10rem;
          bottom: 10%;
          left: 15%;
          transform: rotate(-25deg);
        }
        &:nth-child(4) {
          // border: 2px solid blue;
          width: 14rem;
          bottom: 25%;
          right: 20%;
          transform: rotate(-25deg);
        }
        &:nth-child(5) {
          // border: 2px solid purple;
          width: 7rem;
          top: 20%;
          right: 15%;
          transform: rotate(-55deg);
          filter: blur(2px);
        }
        &:nth-child(6) {
          // border: 2px solid red;
          width: 8rem;
          bottom: 25%;
          right: 38%;
          transform: rotate(165deg);
          filter: blur(2px);
        }
      }
    }
    &:nth-child(3) {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
        url("../assets/bg6.webp") no-repeat center/cover;
      padding: 6rem 15rem;
      display: flex;
      justify-content: flex-start;
      gap: 1rem;

      .page3_menu_container {
        width: 65%;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        background-color: $--clr-smokyblack;
        padding: 2rem;
        border: none;
        border-radius: 3rem;

        h2 {
          margin: 0;
          font-size: 3rem;
          color: $--clr-beige;
          letter-spacing: 0.2rem;
          font-weight: 900;
        }

        hr {
          width: 100%;
          margin-top: 1rem;
        }

        .page3_items {
          width: 100%;
          height: 100%;
          display: flex;
          flex-flow: column;
          align-items: center;

          hr {
            width: 100%;
            margin: 0;
          }

          .page3_item {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 1rem;
            &:hover {
              background-color: $--clr-beige;
            }
            &:hover {
              .page3_item_left h3,
              .page3_item_left p,
              .page3_item_right .item_price {
                color: $--clr-smokyblack;
              }
            }

            .page3_item_left {
              width: 70%;
              display: flex;
              flex-flow: column;
              justify-content: center;

              h3 {
                font-size: 1.4rem;
                color: $--clr-beige;
                margin-bottom: 0.5rem;
              }

              p {
                font-size: 0.9rem;
                margin: 0.5rem 0 0 0;
                color: $--clr-beige;
              }
            }

            .page3_item_right {
              width: 30%;
              display: flex;
              align-items: center;
              justify-content: flex-end;

              .item_price {
                color: $--clr-beige;
                font-size: 1.2rem;
                font-weight: 600;
              }

              .add_item {
                background-color: $--clr-poppy;
                color: $--clr-beige;
                font-weight: 600;
                padding: 0.5rem 1rem;
                margin-left: 2rem;
                border: none;
                border-radius: 2rem;
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
                  rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
                  rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
                  rgba(0, 0, 0, 0.06) 0px 2px 1px,
                  rgba(0, 0, 0, 0.09) 0px 4px 2px,
                  rgba(0, 0, 0, 0.09) 0px 8px 4px,
                  rgba(0, 0, 0, 0.09) 0px 16px 8px,
                  rgba(0, 0, 0, 0.09) 0px 32px 16px;
                &:hover {
                  background-color: $--clr-indian;
                }
              }
            }
          }
        }
      }

      .page3_image_container {
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 100%;
          object-fit: contain;
        }
      }
    }
    &:nth-child(4) {
      background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
        url("../assets/bg7.webp") no-repeat center/cover;
      padding: 6rem 15rem;

      .page4_container {
        width: 70%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-items: center;

        .news_container {
          width: 100%;
          height: 50%;
          display: flex;
          justify-content: center;
          gap: 4rem;

          .news_item_container {
            position: relative;
            flex: 1;
            height: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: flex-end;
            border: none;
            border-radius: 2rem;
            box-shadow: $--shadow-card;
            padding: 1rem;
            overflow: hidden;
            &:nth-child(1) {
              background: linear-gradient(
                  rgba(0, 0, 0, 0.1),
                  rgba(0, 0, 0, 0.5)
                ),
                url("../assets/news/news_upcoming.webp") no-repeat center/cover;
            }
            &:nth-child(2) {
              background: linear-gradient(
                  rgba(0, 0, 0, 0.1),
                  rgba(0, 0, 0, 0.5)
                ),
                url("../assets/news/news_discount.webp") no-repeat center/cover;
            }
            &:nth-child(3) {
              background: linear-gradient(
                  rgba(0, 0, 0, 0.1),
                  rgba(0, 0, 0, 0.5)
                ),
                url("../assets/news/news_event.webp") no-repeat center/cover;
            }
            &:hover .banner {
              transform: translateY(-79%);
            }

            .banner {
              position: absolute;
              width: 100%;
              height: 101%;
              bottom: -80%;
              display: flex;
              flex-flow: column;
              align-items: center;
              justify-content: flex-start;
              background-color: rgba(0, 0, 0, 0.7);
              transition: transform 0.3s ease;
              z-index: 1;

              .banner_heading {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 20%;

                h3 {
                  font-size: 1.8rem;
                  color: $--clr-beige;
                }
              }

              .banner_content {
                height: 80%;
                text-align: center;
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                color: $--clr-beige;
                padding: 1rem;
              }
            }
          }
        }

        .newsletter_container {
          width: 100%;
          height: 30%;
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: space-evenly;
          text-align: center;
          margin-top: 4rem;

          .newsletter_email_label {
            color: $--clr-beige;
            font-size: 1.8rem;
            font-weight: 500;
          }
          input {
            width: 40%;
            height: 2rem;
            border: none;
            border-radius: 0.5rem;
            padding: 0 0.5rem;
          }

          .subscribe_button {
            color: $--clr-beige;
            background-color: $--clr-bistre;
            font-size: 1.1rem;
            font-weight: 600;
            border: 2px solid $--clr-lion;
            border-radius: 0.7rem;
            padding: 0.5rem 1rem;
            cursor: pointer;
            &:hover {
              background-color: $--clr-lion;
              color: $--clr-smokyblack;
            }
          }
        }
      }
    }
    &:nth-child(5) {
      background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
        url("../assets/bg8.webp") no-repeat center/cover;
      padding: 6rem 15rem;

      .page5_container {
        width: 70%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .about_container {
          width: 100%;
          height: 70%;
          display: flex;
          flex-flow: column;
          align-items: center;
          background-color: $--clr-smokyblack;
          border: none;
          border-radius: 1rem;
          padding: 2rem;
          box-shadow: $--shadow-card;

          .about_content {
            height: 100%;
            display: flex;
            gap: 2rem;

            .about_content_image {
              width: 50%;
              height: 100%;
              background: url("../assets/about/about4.webp") no-repeat
                center/cover;
              border: 0.5rem solid $--clr-lemon;
            }
            .about_content_text {
              flex: 1;
              width: 50%;
              height: 100%;

              h1 {
                font-size: 2.5rem;
                color: $--clr-beige;
              }

              p {
                font-size: 1.2rem;
                color: $--clr-beige;
              }
            }
          }
        }
      }
    }
    &:nth-child(6) {
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
        url("../assets/bg9.webp") no-repeat center/cover;
      padding: 6rem 15rem;

      .page6_container {
        width: 100%;
        height: 70%;
        // background-color: $--clr-lemon;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .contact_address {
          width: 70%;
          display: flex;
          flex-flow: column;

          .address_row1 {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .address_column1 {
              h4 {
                font-size: 2.6rem;
                color: $--clr-lemon;
                margin-top: 1rem;
              }

              p {
                font-size: 2rem;
                color: $--clr-lemon;
                margin-top: 1rem;
              }
            }

            .address_column2 {
              h4 {
                font-size: 2.6rem;
                color: $--clr-lemon;
                margin-top: 1rem;
              }

              td {
                font-size: 2rem;
                color: $--clr-lemon;
                margin-top: 1rem;
              }
            }
          }

          .address_row2 {
            width: 100%;
            display: flex;
            justify-content: center;

            iframe {
              width: 100%;
              height: auto;
              border: 0;
              margin-top: 1rem;
            }
          }
        }
      }
    }

    .scroll_explore {
      position: absolute;
      right: 0;
      bottom: 50%;

      a {
        @include flex-row-center();
        color: $--clr-beige;
        rotate: (90deg);
        overflow: hidden;

        .scroll_explore_arrows {
          height: 20px;
          display: flex;
          flex-flow: column;
          gap: 0.5rem;

          i {
            rotate: (-90deg);
            animation: slidein 2s ease-in-out infinite;
          }
        }

        .scroll_explore_text {
          margin: 0 0.5rem;
          height: 20px;

          p {
            font-size: 1rem;
            display: inline-block;
            text-transform: uppercase;
            margin: 0;
          }
        }
      }
    }

    .red {
      color: $--clr-poppy;
    }
  }
}
