// GOOGLE FONT
@import url("https://fonts.googleapis.com/css2?family=Galada&family=Lato&family=Montserrat&family=Poppins&family=Roboto:wght@400;900&display=swap");

// COLORS

$--clr-indian: #E0525B;
$--clr-poppy: #da2c38;
$--clr-bole: #7E4E46;
$--clr-springgreen: #226f54;
$--clr-shamrockgreen: #559972;
$--clr-pistachio: #87c38f;
$--clr-beige: #F9F7DC;
$--clr-lemon: #f4f0bb;
$--clr-lion: #9C8D6D;
$--clr-bistre: #43291f;

// MIXINS
// displays
@mixin flex-row-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-center() {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@mixin flex-align() {
  display: flex;
  align-items: center;
}
// buttons
@mixin button-homepage() {
  color: $--clr-beige;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  border-radius: 0.7rem;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  &:hover {
    background-color: $--clr-shamrockgreen;
  }
}

@mixin button-order() {
  color: $--clr-beige;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  border-radius: 0.7rem;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  &:hover {
    background-color: $--clr-indian;
  }
}
